[DEFAULT]
version= 2.4.4
# if debug set to True no files will be create,moved,deleted or inserted into 
# database or queued for processing.
debug= False
filearea= /odin/smr/Data/

[READ_SQL]
user = gem
db = smr
host = mysql_host

[WRITE_SQL]
user = odinuser
passwd= ***REMOVED***
db = smr
host = mysql_host

[GEM]
SPOOL_DIR= %(filearea)sspool/
LEVEL1B_DIR= %(filearea)slevel1b/
SMRL1B_DIR= %(filearea)sSMRl1b/
SMRL2_DIR=  %(filearea)sSMRl2/
ECMWF_DIR= /odin/extdata/ecmwf/
LEVEL3_DIR= /odin/smr/Data/SMRl3/
WIND_DIR= /odin/extdata/ecmwf/tzuv/
WIND2_DIR= /odin/extdata/ecmwf/tzuv/winds2/
MATLAB_DIR= /home/odinop/Matlab/IASCO_matlab-rev423/
DATA_DIR= /odin/extdata/SMR/
DATA501_DIR= /odin/smr/Data/SMRl2/SMRhdf/Qsmr-2-1/SM_AC2ab/
DATA544_DIR= /odin/smr/Data/SMRl2/SMRhdf/Qsmr-2-0/SM_AC1e/


logs = /home/odinop/logs/
user = odinop
passwd = secret
host = mysql_host

[PDC]
PDC_DIR = /data/odin/level1b/aero/submm/
user = donal
passwd= secret
host = esrange.pdc.kth.se
principal = NADA.KTH.SE
smrl2_dir = /data/odin/level2/submm/
[NILU]
NILU_DIR = .odin/
user = murtagh
passwd = secret
host= zardoz.nilu.no

[ecmwf]
basedir = /odin/external/ecmwfNCD
spooldir = /odin/external/ecmwfNCD/spool
trash = /odin/external/ecmwfNCD/trash

[logging]
configfile = odinlogger.cfg

